@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(./SLIKE/pozadina3.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 10%;
    padding-top: 10px;
	width:80%;
   	margin:auto;  
}
.Zaglavlje{
 
    width: 100%;
    height: 400px;
    line-height: 400px;
    background-image: url(./SLIKE/paint2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    text-align:center;
  }

.container{
    width: 100%;  
    padding-top: 5%;
}

/*Meni*/


.M{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(37, 40, 45, 0.92);
    height: 65px;
  }
  
 .M li {
    float: left;
  }



.LogoSlika{
   width: 55px;
    
}

.Logo img:hover{
    background-color: #111;
}
  
.element {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 26px;
    text-decoration: none;
    font-family: Georgia;
    font-weight: bold;
  }

  .Logo01 {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 2px;
    text-decoration: none;
  }
  
  
 .M li a:hover {
    background-color: #111;
    color: #d51717;
  }

  /*.Aktivan{
    background-color: rgb(94, 14, 14);
  }*/


  /*FUTER*/

  .Foot{
    width: 80%;
    text-align: center;
    background-color: rgba(37, 40, 45, 0.92);
    /*padding: 20px 20px;*/
    position: fixed;
    bottom: 0px;
  }

  .Foot a{
    display: block;
    text-decoration: none;
    padding: 15px 15px;
    color: aliceblue;
    font-family: Georgia;
  }


  /*Sadrzaj*/

  .Sadrzaj{
    padding-top: 20px;
    width: 100%;
    height: auto;
    background-color: rgba(17, 17, 17, 0.738);
    /*text-align: center;*/
    
    
   /* width: auto;
    margin-top: 65px;
    padding: 30px;
    
    */
  }

  .Tekst{
    width: auto;
    margin-top: 65px;
    padding: 30px;
    background-color: rgba(17, 17, 17, 0.738);
    color: #f8f6f6;
    text-align: left;
  }

  .Sadrzajh1{
    font-family:'Franklin Gothic Medium';
    color:rgb(242, 243, 245);
    padding: 10px;
    text-align: center;
  }

  .lor{
    width: auto;
    margin-top: 65px;
    padding: 30px;
    font-family: Georgia;
    color:#d51717;
    display: block;
    text-align: left;
    background-color: rgba(17, 17, 17, 0.738);

   /* background-color: rgba(245, 245, 220, 0.791);
    padding: 20px;
    border-radius: 10px;
    box-shadow:  5px 5px 5px rgb(141, 78, 78);*/

  }

  /*button{
    margin-top: 20px;
    background-color: rgb(215, 89, 89);
    border-color: white;
    border-width: 3px;
    border-style: solid;
    box-shadow: 5px 5px 3px rgb(203, 201, 201);
   
  }

  

  .UkrasDugme{
    border-radius: 10px;
  }

  .UkrasDugme:hover{
    background-color: rgb(141, 42, 42);
  }

  .UkrasDugme a{
    text-decoration: none;
    color: rgb(15, 17, 18);
    font-family: Georgia;
    font-weight: 900;
    font-size: 20px;
    padding: 10px 60px 10px 60px;
    
   
   
  }

  .Uvecanje{
    display: block;
    
    text-decoration: none;
    color: #111;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    padding: 20px;
    width: 100px;
    margin: auto;
    border-radius: 5px; zaoblicenje okvira
    transition: 2s;
    border: solid white 1px;

  }

 

  .Uvecanje:hover{
 
    
    padding: 3px;
    transition: 2s;
  }*/

  .SlikaDiv{
    width: 100%;
    margin-top: 30px;
    align-content: center;
    display: flex;
  }

  /*.SlikaDiv div{
   
    flex-grow: 65;
    align-items: center;
  }*/




  .Galerija{
    display: flex;
    text-align: center;
    margin-top: 30px;
  }

  div.gallery {
    margin: 5px;
    border: 2px solid #ccc;
    float: left;
    width: 190px;
  }
  
  div.gallery:hover {
    border: 2px solid #777;
    
    
  }
  
  div.gallery img {
    width: 100%;
    height:fit-content;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .rounded:hover{
    background-color:  rgba(197, 171, 171);
    transform: scale(1.2);
    transition: 1s;
  }

  .card {
    flex-grow: 3;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    color:black;
  }

  .card img{
    border-radius: 10px 10px 0px 0px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {

    padding: 10px 16px;
  }
  .text-center{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
 